@import"fonts.css";
@import"grid.css";
@import"reset.css";

:root{
  --primary-color: #608BFF;
  --text-color:#000000;
  --orange-color:#FF5000;
}

html{
    font-size: 62.5%;
}
body{
    font-family: "Poppins";
    font-size: 1.6rem;
    line-height: 1.6;
}
a{
    text-decoration: none;
}
/* 

--Components

*/
.app-btn{
    width:14.1rem;
    height: 4.8rem;
    border-radius: 2.8rem;
    -webkit-border-radius: 2.8rem;
    -moz-border-radius: 2.8rem;
    -ms-border-radius: 2.8rem;
    -o-border-radius: 2.8rem;
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins Medium";
    font-size:1.4rem;
    background-color: var(--primary-color);
}
/* 

--Helper Class

*/
.full-width{
    width: 100%;
}
.align-items-center{
    align-items: center;
}
.bgc-white{
    background-color: #fff;
}
.text-color{
    color:var(--text-color);
}

/* 

Header

*/

.header{
background-image: linear-gradient(150deg,#fff8e0 18%,#e5ecff 50%);
position: relative;
}
.header__books-left{
    position:absolute;
    top:26px;
    opacity:0.6;
}
.header__books-right{
position:absolute;
top:84px;
right:12px;
}
/* 
header-nav
*/
.nav{
display: flex;
align-items: center;
justify-content: space-between;
padding-top: 2rem;
}
.logo{
font-family:"Poppins Bold";
color: var(--primary-color);
font-size: 2.4rem;
line-height: 2.4;
font-weight: 700;
}
.menu{
display: flex;
align-items: center;
gap:4rem;
opacity:0.6;
}
.menu__item{

}
.menu__item-link{
color:inherit;
}
.header__links{
display: flex;
align-items: center;
gap:2rem;
color: var(--text-color);
}
.header__links :first-child{
color:inherit;
opacity: 0.6;
}
.nav__toggle-icon{
display:none;
width:5.5rem;
height: 5.5rem;
align-items: center;
justify-content: center;
cursor: pointer;
}
.nav__toggle-line{
    width:5rem;
    height:0.5rem;
    background-color: var(--primary-color);
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
    position: relative;
    transition: all 200ms ease-in;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
}
.nav__toggle-line::before,
.nav__toggle-line::after{
    content: '';
    position: absolute;
    width:5rem;
    height:0.5rem;
    background-color: var(--primary-color);
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
}
.nav__toggle-line::before{
top:-1rem;
}
.nav__toggle-line::after{
top:1rem;
}
.nav__toggle-icon--open .nav__toggle-line{
    background-color: transparent;
}
.nav__toggle-icon--open .nav__toggle-line::before{
    transform:translateY(1rem) rotate(45deg) ;
    -webkit-transform:translateY(1rem) rotate(45deg) ;
    -moz-transform:translateY(1rem) rotate(45deg) ;
    -ms-transform:translateY(1rem) rotate(45deg) ;
    -o-transform:translateY(1rem) rotate(45deg) ;
}
.nav__toggle-icon--open .nav__toggle-line::after{
    transform:translateY(-1rem) rotate(-45deg);
    -webkit-transform:translateY(-1rem) rotate(-45deg);
    -moz-transform:translateY(-1rem) rotate(-45deg);
    -ms-transform:translateY(-1rem) rotate(-45deg);
    -o-transform:translateY(-1rem) rotate(-45deg);
}
/* 

--header-content

*/
.header__wrapper{
margin-top: 6rem;
}
.header__content{
display: flex;
flex-direction: column;
}
.header__title{
    font-weight: 600;
    font-size: 4.4rem;
    line-height: 5.4rem;
}
.header__title span{
    color: var(--orange-color);
}
.header__desc{
max-width:50rem;
line-height: 2.4rem;
opacity:0.6;
margin:2rem 0;
}
.header__btns{
display: flex;
align-items: center;
gap:2rem;
}
.header__btn{
    
}
.header__btn-play{
    width:5.6rem;
    height: 5.6rem;
    background-color: var(--orange-color);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.header__course-features{
display: flex;
gap:4rem;
margin:3rem 0;
}
.header__course-feature{

}
.header__course-feature h2{
font-weight: 600;
font-size: 4.4rem;
line-height: 5.5rem;
}
.header__course-feature p{
font-weight: 500;
font-size: 2.4rem;
line-height: 3.2rem;
color:rgba(0, 0, 0, 0.8);
letter-spacing: -1px;
}
.header__image{
width:45rem;
}
.header__image img{
width:100%;
}
/* 

--header-references

*/
.header-references{
 max-width:112rem;
 margin:0 auto;
 box-shadow: 0 0 4rem rgba(0, 0, 0, 0.05);
 border-radius: 1rem;
 -webkit-border-radius: 1rem;
 -moz-border-radius: 1rem;
 -ms-border-radius: 1rem;
 -o-border-radius: 1rem;
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding:1.5rem 3rem;
 background-color: #fff;
}
/* 

main

*/
/* 
======================
  section how it work
======================

*/
.how-it-work{
   background-image:linear-gradient(152deg, rgba(229, 236, 255, 1) 57%, rgba(250, 246, 230, 1) 70%);
   padding:25rem 0; 
}
.how-it-work__wrapper{
    max-width:69.4rem;
    height: 69.4rem;
    border-radius:100%;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    -ms-border-radius:100%;
    -o-border-radius:100%;
    border:24px solid var(--primary-color);
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
}
.how-it-work__wrapper h2{
    font-family: "Poppins SemiBold";
    font-size:4.5rem;
    line-height: 4.5rem;
}
.how-it-work__item{
    width:33rem;
    height: 33rem;
    border-radius:100%;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    -ms-border-radius:100%;
    -o-border-radius:100%;
    border:16px solid rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding: 5rem 0;
    position: absolute;
}
.how-it-work__item:nth-child(2){
top:-160px;
}
.how-it-work__item:nth-child(3){
right:-146px;
}
.how-it-work__item:nth-child(4){
bottom:-135px;
}
.how-it-work__item:nth-child(5){
   left:-176px;
}
.how-it-work__item--sky{
   background-color: rgba(227, 246, 250, 1);
   box-shadow: 0px 0px 24px 0px rgba(0, 84, 103, 0.16) inset;
}
.how-it-work__item--yellow{
   background-color: rgba(255, 249, 232, 1);
   box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.05) inset;

}

.how-it-work__item-img{
    width:7rem;
    height: 7rem;
    border-radius:100%;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    -ms-border-radius:100%;
    -o-border-radius:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.how-it-work__item-img--orange{
    background-color: var(--orange-color);
}
.how-it-work__item-img--blue{
    background-color: var(--primary-color);
}
.how-it-work__item-img--green{
    background-color: rgba(0, 197, 8, 1);
}
.how-it-work__item-img--purple{
    background-color: rgba(185, 0, 215, 1);
}
.how-it-work__item-icon{

}
.how-it-work__item-title{
margin:1rem 0;
font-family: "Poppins Medium";
font-size: 2rem;
line-height: 2rem;
font-weight: 600;
}
.how-it-work__item-text{
max-width:20rem;
text-align: center;
}

/* 
===========================
  section course-features
===========================

*/
.course-features{
position: relative;
background: linear-gradient(152deg,rgba(250, 246, 230, 1) 44%, rgba(229, 236, 255, 1) 63%);
padding:10rem 0 9rem 0;
}
.course-features__wrapper{
    width:80%;
    margin:0 auto;
    display: flex;
    align-items: center;
    gap:4rem;
}
.course-features__image{
max-width:46%;
z-index:9;
}
.course-features__image img{
width:100%;
}
.course-features__content{

}
.course-features__title{
max-width: 54rem;
font-family: "Poppins SemiBold";
font-size: 4.5rem;
line-height: 5.5rem;
}
.course-features__text{
max-width: 54rem;
margin-top:1rem;
}
.course-features__items{
display: flex;
align-items: center;
gap:4rem;
margin:3rem 0;
}
.course-features__items-wrapper{
display: flex;
flex-direction: column;
gap:2rem;
}
.course-features__item{
display: flex;
align-items: center;
gap:1rem;
}
.course-features__item-check{
    width:2.4rem;
    height: 2.4rem;
    border-radius:100%;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    -ms-border-radius:100%;
    -o-border-radius:100%;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.course-features__item-check-icon{

}
.course-features__item-name{
font-weight: 600;
}
.course-features__shape{
position: absolute;
width:42%;
top:37px;
left: 65px;
/* z-index: -1; */
}
/* 

===========================
    section job-position
===========================

*/
.job-position{
    background-color: rgba(39, 66, 77, 1);
    padding:4rem 0;
}
.job-position__wrapper{
display: flex;
align-self: center;
justify-content: center;
gap:6rem;
}
.job-position__content{
    /* width:48.5rem; */
    background-color: #fff;
    border-radius:1.6rem;
    -webkit-border-radius:1.6rem;
    -moz-border-radius:1.6rem;
    -ms-border-radius:1.6rem;
    -o-border-radius:1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
    padding:2rem;
}
.job-position__image{
    width:40%;
}
.job-position__image img{
width:100%;
}
.job-position__description{

}
.job-position__title{
font-family: "Poppins Medium";
font-weight: 600;
font-size: 2.4rem;
line-height: 3.2rem;
}
.job-position__text{
color: rgba(189, 189, 189, 1);
margin:1rem 0 2rem 0;
}
/* 

===========================
  section course-quality
===========================

*/
.course-quality{
padding:8rem 0;
background: linear-gradient(152deg,rgba(255, 252, 242, 1) 5%, rgba(243, 247, 255, 1) 23%, rgba(229, 236, 255, 1) 63%);
}
.course-quality__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10rem;
}
.course-quality__content{
max-width:47rem;
}
.course-quality__title{
    font-family: "Poppins SemiBold";
    font-size: 4.5rem;
    line-height: 5.5rem;
}
.course-quality__text{
opacity:60%;
margin:1rem 0 2rem 0;
}
.course-quality__video{
    background-image: url("../images/course-quality2.jpg");
    background-size: cover;
    background-position: center;
    object-fit: cover;
    border-radius: 1.6rem;
    -webkit-border-radius: 1.6rem;
    -moz-border-radius: 1.6rem;
    -ms-border-radius: 1.6rem;
    -o-border-radius: 1.6rem;
    position: relative;
}
.course-quality__image{
margin-bottom: -7.2px;
margin-top: 11rem;
/* width:100%; */
}
.course-quality__play-btn{
    width:114px;
    height: 114px;
    border-radius:100%;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    -ms-border-radius:100%;
    -o-border-radius:100%;
    background-color: rgba(255, 255, 255, 1);
    opacity: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    margin:0 auto;
    bottom: 0;
    top: 224px;
    right: 0;
    left: 0;
}
.course-quality__play-icon path{
/* opacity:1 !important; */
}
/* 

===========================
  section student-comments
===========================

*/

.student-comments{
background-color:rgba(255, 248, 225, 1);
padding:4rem 0 14rem 0;
}
.student-comments__header{
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom:3rem;
}
.student-comments__header-title{
   font-size: 4rem;
   line-height: 5rem;
   font-weight: 700;
}
.student-comments__wrapper{

}
.student-comment{
    background-color: #fff;
    border-radius:1px;
    -webkit-border-radius:1px;
    -moz-border-radius:1px;
    -ms-border-radius:1px;
    -o-border-radius:1px;
    padding:2rem;
}
.student-comment__profile{
display: flex;
align-items: center;
gap:1rem;
height:10.5rem;
}
.student-comment__profile-image{

}
.student-comment__profile-title{

}
.student-comment__profile-name{
font-size: 1.8rem;
line-height: 2.8rem;
font-weight: 700;
}
.student-comment__profile-job{
font-size: 1.4rem;
line-height: 2.2rem;
opacity:0.6;
/* white-space: nowrap; */
}
.student-comment__profile-stars{

}
.divider{
position:relative;
margin: 2rem 0 1rem 0;
}
.divider::after{
content:"";
width:19.5rem;
height: 1px;
background-color:rgba(0, 0, 0, 0.11);
position: absolute;
top:13px;
}
.student-comment__content{

}
/* 

Footer

*/

.footer{
padding:16rem 0 2rem 0;
position: relative;
}
.footer__wrapper{
display: flex;
align-items: center;
}
/* 
===========================
        section-left
===========================
*/
.footer__section-left{

}
.footer__social-media{
   width:93.56px;
   display:flex;
   justify-content: space-between;
   align-items: center;
}
.footer__social-media-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width:2.4rem;
    height: 2.4rem;
    border:1px solid var(--text-color);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.footer__social-media-img img{
    
}
/* 
===========================
       section-right
===========================
*/
.footer__section-right{
display: flex;
justify-content: space-between;
}
.footer__menu{

}
.footer__menu__title{
font-weight:700;
font-size:1.8rem;
line-height:2.8rem;
margin-top:2rem;

}
.footer-nav{
color: var(--text-color);
}
.footer-nav__item{

}
.footer-nav__link{
color: inherit;
opacity: 0.6;
}
/* 
===========================
  section-investing-box
===========================
*/
.investing-box{
    width:91.5rem;
    border-radius:20rem;
    -webkit-border-radius:20rem;
    -moz-border-radius:20rem;
    -ms-border-radius:20rem;
    -o-border-radius:20rem;
    background-color: var(--primary-color);
    margin:0 auto;
    padding:2rem 0;
    display: flex;
    flex-direction: column;
    gap:4rem;
    align-items: center;
    color:#fff;
    position: absolute;
    top:-112px;
    left:0;
    right:0;
}
.investing-box__title{
font-family: "Poppins SemiBold";
font-size: 4rem;
line-height: 5rem;
text-align: center;
max-width: 60%;
}
.investing-box__btn{
    width:14.1rem;
    height: 4.8rem;
    border-radius: 2.8rem;
    -webkit-border-radius: 2.8rem;
    -moz-border-radius: 2.8rem;
    -ms-border-radius: 2.8rem;
    -o-border-radius: 2.8rem;
    color:var(--text-color);
    font-family: "Poppins Medium";
    font-size:1.4rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}